:root{
    --secondary-color: #F865B0;
}
.credits {
    font-family: 'Arial';
    background: #212429;
    font-size: 14px;
    color: white;
    padding: 0.5rem 0;
    text-align: center;
}
.credits a {
    color: #46fff6;
    text-decoration: none;
}
body{
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}
a{
    color: #fff;
    text-decoration: none;
}
.controls, .featured, header, video{
    overflow: hidden;
}
ul{
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Avenir-Regular';
}
nav ul > li{
    list-style: none;
}
.featured{
    /*border: 1px solid yellow;*/
    margin-top: -50px;
    position: relative;
    padding:0 0 32px 0;
}
video{
    width: 100%;
    aspect-ratio: attr(width) / attr(height);
}
header{
    /*border: 1px solid red;*/
    padding: 16px;
    background-image: linear-gradient(to bottom, #000 0%, #000 65%, transparent 100%);
    position: relative;
    z-index: 2;
}
.categories{
    position:absolute;
    left:0;
    right:0;
    bottom: 0;/*10%;*/
    padding:0;
    background-image: linear-gradient(to top, #000 0%, #000 55%, transparent 100%);
}
@media(max-width: 368px){
    .categories{
        position:absolute;
        left:0;
        right:0;
        bottom: 5%;
        width: 100vw;
    }
    .cat-list{
        font-family: 'Avenir-Regular';
        font-size: 14px;
        margin: 0;
        padding: 8px 4px;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}
.cat-list{
    font-family: 'Avenir-Regular';
    font-size: 15px;
    margin: 0;
    padding: 0;
    width: 100%;
    /*display: flex;
    justify-content: center;
    gap: 20px;*/
}
.cat-list li:first-child{
    list-style: none;
}
.actions{
    width: 100%;
    margin: 0;
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.actions > button{
    min-width: 48px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
}
#reproducir-btn{
    padding: 16px 24px;
    width: auto;
    height: 40px;
    background-color: white;
    color: black;
    border:none;
    outline:none;
    border-radius: 4px;
    font-family: 'Avenir-Bold';
    cursor: pointer;
}
.vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    border:none;
    outline:none;
}
#info-btn, #lista-btn{
    background: none;
    height: 40px;
    color: white;
    font-family: 'Avenir-Regular';
}
#info-btn, #lista-btn img{
    filter: brightness(100%), saturate(0%);
    background-image: white;
}

section h2{
    font-family: 'Avenir-Bold';
}
section{
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 8px;
}
.movies{
    display: flex;
    overflow-x: auto;
    height: auto;
    width: 100%;
    white-space: nowrap;
}
main{
    padding: 16px;
}
.movies::-webkit-scrollbar{
    color:#111;
    background: #000;
    height: 10px;
}
.movies::-webkit-scrollbar-thumb{
    color: gray;
    background: #444;
    border-radius: 4px;
    border:none;
}
.movies::-webkit-scrollbar-track{
    background: #000;
    height: 10px;
}
.movies > div{
    margin: 0 8px;
    display: inline-block;
}

.icon path{
    fill: #6e6e6e;
}
.controls > button:hover :is(path, span){
    fill:white;
    color:white;
}
.controls{
    position: fixed;
    height: 64px;
    background: #000;
    bottom:0;
    left: 0;
    right: 0;
    display: grid;
    grid-auto-flow:column;
    padding: 0.5em 0;
}
.controls > button{
    min-width: 100px;
    height: 100%;
    background: none;
    outline: none;
    color: #6e6e6e;
    font-size: 1.1em;
    font-family: 'Avenir-Regular';
}

@font-face {
    font-family: 'Avenir-Regular';
    src: url('/reto-netflix/fonts/AvenirNextLTPro-Regular.otf');
    font-weight: 400;
}
@font-face {
    font-family: 'Avenir-Cursiva';
    src: url('/reto-netflix/fonts/AvenirNextLTPro-It.otf');
}
@font-face {
    font-family: 'Avenir-Bold';
    src: url('/reto-netflix/fonts/AvenirNextLTPro-Bold.otf');
}
@font-face {
    font-family: 'Avenir-Demi';
    src: url('/reto-netflix/fonts/AvenirNextLTPro-Demi.otf');
}
@font-face {
    font-family: 'Avenir-Demi-2';
    src: url('/reto-netflix/fonts/AvenirNextLTPro-DemiCn.otf');
}